h1
{
color: #ccc916;
font-style: italic;
text-decoration: underline;
text-align: center;
}
h4
{
color: rgb(0, 0, 0);
}
img
{
border: radius 50px;%;
}

#header{color: black;

}
.wrapper{color: rgb(138, 113, 77);}